body{
    background-color: black;
}

h1{
    color: whitesmoke;
    padding: 15px;
    text-align: center;
    font-size: 50px;
}

input{
    font-size:18pt;
    height: 40px;
    width: 260px;
    border-radius: 5px;
    margin: 30px;
}

#nome{
    margin-top: 200px;
    margin-left: 450px ;
    margin-right: 450px;
    text-align: center;
}

#idade{
    margin-left: 450px ;
    margin-right: 450px;
    text-align: center;
}

button{
    margin-top: 20px;
    margin-left: 550px ;
    margin-right: 550px;
    text-align: center;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    background-color: cornflowerblue;
}